@charset "UTF-8";
/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Lora-VariableFont_wght.ttf) format("woff");
}
:root {
  --body-font-family: "Lato-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 24px;
  --body-font-style: normal;
  --main-heading-font-family: "Lato-Regular", Helvetica;
  --main-heading-font-weight: 400;
  --main-heading-font-size: 36px;
  --main-heading-letter-spacing: 0px;
  --main-heading-line-height: 48px;
  --main-heading-font-style: normal;
  --secondary-heading-font-family: "Lato-Regular", Helvetica;
  --secondary-heading-font-weight: 400;
  --secondary-heading-font-size: 32px;
  --secondary-heading-letter-spacing: 0px;
  --secondary-heading-line-height: 48px;
  --secondary-heading-font-style: normal;
  --large-body-font-family: "Lato-Regular", Helvetica;
  --large-body-font-weight: 400;
  --large-body-font-size: 20px;
  --large-body-letter-spacing: 0px;
  --large-body-line-height: 32px;
  --large-body-font-style: normal;
  --card-heading-font-family: "Lato-Regular", Helvetica;
  --card-heading-font-weight: 400;
  --card-heading-font-size: 22px;
  --card-heading-letter-spacing: 0px;
  --card-heading-line-height: 32px;
  --card-heading-font-style: normal;
  --small-font-family: "Lato-Regular", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 16px;
  --small-font-style: normal;
  /* Litir */
  --coffee: rgba(111, 78, 55, 1);
  --black-coffee: rgba(60, 42, 30, 1);
  --light: rgba(254, 254, 254, 1);
  --coffee-with-milk: rgba(225, 206, 194, 1);
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */
html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
}

p {
  color: #000;
  font-family: var(--body-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.four-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  gap: 30px;
  background-color: #e1cec2;
  background-size: cover;
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 120px 16px;
}

.text-container {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 448px;
}

.text-container p:first-child {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  font-family: Lato;
  color: black;
}

.text-container p:first-child strong {
  font-weight: 700;
}

.text-container p:nth-child(2) {
  font-size: 20px;
  line-height: 32px;
  font-family: Lato;
  color: black;
  font-weight: 400;
}

.takki {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px #3c2a1e solid;
  background-color: #6f4e37;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.image-container {
  display: flex;
  align-items: center;
  background-color: #682d2d;
}

.image-container img {
  width: 622px;
  height: 415px;
}

/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Lora-VariableFont_wght.ttf) format("woff");
}
:root {
  --body-font-family: "Lato-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 24px;
  --body-font-style: normal;
  --main-heading-font-family: "Lato-Regular", Helvetica;
  --main-heading-font-weight: 400;
  --main-heading-font-size: 36px;
  --main-heading-letter-spacing: 0px;
  --main-heading-line-height: 48px;
  --main-heading-font-style: normal;
  --secondary-heading-font-family: "Lato-Regular", Helvetica;
  --secondary-heading-font-weight: 400;
  --secondary-heading-font-size: 32px;
  --secondary-heading-letter-spacing: 0px;
  --secondary-heading-line-height: 48px;
  --secondary-heading-font-style: normal;
  --large-body-font-family: "Lato-Regular", Helvetica;
  --large-body-font-weight: 400;
  --large-body-font-size: 20px;
  --large-body-letter-spacing: 0px;
  --large-body-line-height: 32px;
  --large-body-font-style: normal;
  --card-heading-font-family: "Lato-Regular", Helvetica;
  --card-heading-font-weight: 400;
  --card-heading-font-size: 22px;
  --card-heading-letter-spacing: 0px;
  --card-heading-line-height: 32px;
  --card-heading-font-style: normal;
  --small-font-family: "Lato-Regular", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 16px;
  --small-font-style: normal;
  /* Litir */
  --coffee: rgba(111, 78, 55, 1);
  --black-coffee: rgba(60, 42, 30, 1);
  --light: rgba(254, 254, 254, 1);
  --coffee-with-milk: rgba(225, 206, 194, 1);
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */
html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  /* Setjum almennt bil á eftir fyrirsögnum */
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
}

p {
  color: #000;
  font-family: var(--body-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  width: 100%;
}

.hausinn {
  width: 100%;
  height: 100%;
  background-image: url(/img/headerback.jpeg);
  object-fit: cover;
  object-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: bottom center;
}

.header {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 565px;
  padding: 176px 256px 132px 254px;
  background-size: 100% 100%;
  background: rgba(255, 255, 255, 0.5);
}

.tilbod {
  color: #000;
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 160px;
  font-style: normal;
  font-weight: 700;
}

.textinn {
  width: 500px;
  color: #000;
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

@media only screen and (max-width: 950px) {
  .tilbod {
    font-size: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .header {
    height: 322px;
  }
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}

.logo-container {
  display: inline-flex;
  padding: 0px 0px 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 101;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo-text {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.search-categories {
  display: flex;
  gap: 30px;
}

.search-categories-drop {
  display: flex;
  gap: 30px;
  z-index: 101;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-drop {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-input-drop {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.vector {
  position: absolute;
  right: 10px;
  width: auto;
}

.search-input {
  width: 450px;
  height: 40px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.categories {
  display: flex;
  width: 330px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cart {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 101;
}

.cart-icon {
  padding: 15px;
}

.label {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 32px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-color: #6f4e37;
  border-radius: 10px;
}

.label .text-wrapper {
  display: flex;
  position: absolute;
  color: #fefefe;
}

@media screen and (max-width: 1100px) {
  .search-input {
    width: 320px;
  }
}
@media screen and (max-width: 1000px) {
  .search {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .search-categories {
    display: none;
  }
  .logo-container {
    flex: 1;
    justify-content: flex-start;
    gap: 10px;
  }
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  src: url(fonts/Lato-Regular.ttf) format("truetype");
}
body {
  font-family: "Lato";
  background-color: #fff;
}

.Nyjarvorur {
  display: flex;
  font-size: 60px;
  padding: 20px;
  padding-left: 2px;
}

.Rada_eftir {
  display: flex;
  font-size: 32px;
  padding: 10px;
  padding-left: 2px;
}

.Tags {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}
.Tags .TAG {
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #E1CEC2;
  font-size: 18px;
  cursor: pointer;
}
.Tags .TAG:hover {
  background-color: #c4a898;
}

.tolf-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  gap: 30px;
  background-color: #E1CEC2;
  background-size: cover;
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.robot, .modurbord, .matrix {
  width: 100%;
  box-sizing: border-box;
}

.Robot-mynd img {
  width: 100%;
  height: auto;
}

.robot, .modurbord, .matrix {
  width: 100%;
  max-width: 360px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.robot .Robot-mynd, .modurbord .Robot-mynd, .matrix .Robot-mynd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.robot .Robot-mynd img, .modurbord .Robot-mynd img, .matrix .Robot-mynd img {
  max-width: 100%;
  height: auto;
}
.robot .vinarlegur-vinnurobot, .modurbord .vinarlegur-vinnurobot, .matrix .vinarlegur-vinnurobot {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: #333;
  padding-left: 10px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.robot .tags, .modurbord .tags, .matrix .tags {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 10px;
  width: 100%;
}
.robot .tags .tag, .modurbord .tags .tag, .matrix .tags .tag {
  padding: 5px 10px;
  background-color: #E1CEC2;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.robot .verd, .modurbord .verd, .matrix .verd {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding-left: 10px;
  width: 100%;
}
.robot .vorutakki, .modurbord .vorutakki, .matrix .vorutakki {
  width: 100%;
  padding: 10px;
  background: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #3C2A1E;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.robot .vorutakki:hover, .modurbord .vorutakki:hover, .matrix .vorutakki:hover {
  background: #6F4E37;
  color: #FEFEFE;
}

footer {
  width: 100%;
  background-color: #3c2a1e;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  position: relative;
}
footer section {
  width: 448px;
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
}
footer section h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 10px;
  position: relative;
}
footer section h2:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e1cec2;
  position: absolute;
  left: 0;
  bottom: -5px;
}
footer section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}
footer section ul li {
  margin-bottom: 6px;
}
footer .contact ul li:last-child {
  margin-bottom: 0;
}
footer .copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  border-top: 1px solid #6f4e37;
  padding-top: 7px;
  padding-bottom: 7px;
}
footer .copyright p {
  color: white;
}

.product {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
}
.product .product-image {
  width: 690px;
  height: 463px;
  margin-right: 40px;
}
.product .product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.product .product-details .product-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: black;
  margin-bottom: 10px;
}
.product .product-details .tags {
  display: flex;
  gap: 10px;
}
.product .product-details .tags .tag {
  padding: 5px;
  background-color: #E1CEC2;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.product .product-details .product-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  line-height: 32px;
  margin-top: 20px;
}
.product .product-details .verd {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
.product .product-details .vorutakki {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #FEFEFE;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #3C2A1E;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}
.product .product-details .vorutakki:hover {
  background-color: #6F4E37;
  color: #FEFEFE;
}

.Eiginleikar {
  max-width: 600px;
  margin-left: 255px;
  padding: 30px;
}
.Eiginleikar .ordid.eiginleikar {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.Eiginleikar .Kubbasett,
.Eiginleikar .Staerd,
.Eiginleikar .Styringar {
  margin-bottom: 30px;
}
.Eiginleikar .Kubbasett .title,
.Eiginleikar .Staerd .title,
.Eiginleikar .Styringar .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Eiginleikar .Kubbasett .description,
.Eiginleikar .Staerd .description,
.Eiginleikar .Styringar .description {
  font-size: 16px;
  line-height: 1.5;
}

/*# sourceMappingURL=styles.css.map */
