//header.scss

//font
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/Lora-VariableFont_wght.ttf) format('woff');
  }
// Header Begin
.header {
    width: 100%;      
    max-width: 1440px;
    height: 565px;
  
    // Bakgrunnur
    background-image: url('img\Header_Background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 

    //Nav
    
  }
  