//vorulisti.scss

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-display: swap;
    src: url(fonts\Lora-VariableFont_wght.ttf) format('ttf');
  }
  body {
    font-family: Lora; 
    background-color: #fff; 
    padding: 20px;
  }
  

p {
    margin: 0;  
    padding: 0; 
    font-size: 24px; 
    margin-bottom: 20px;
  }
  // Styling for Tags
  .Tags {
    display: flex;  // To display the tags in a row
    gap: 10px;      // Providing some gap between tags
  
    .TAG {
      padding: 8px 16px;  
      border-radius: 10px;  
      background-color: #E1CEC2;
      ; 
      cursor: pointer;  // To show a hand cursor on hover
  
      &:hover {
        background-color: #c4a898;  // Slightly darker background on hover
      }
    }
  }